<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasoft.wangpo.dao.AccountDao" >
	<resultMap id="accountResults" type="com.chinasoft.wangpo.entity.Account" >
	<id column="acc_id" property="acc_id"/>
	<result column="acc_lname" property="acc_lname" jdbcType="VARCHAR"/>
	<result column="acc_rname" property="acc_rname" jdbcType="VARCHAR"/>
	<result column="acc_gender" property="acc_gender" jdbcType="VARCHAR"/>
	<result column="acc_pwd" property="acc_pwd" jdbcType="VARCHAR"/>
	<result column="acc_age" property="acc_age" jdbcType="INTEGER"/>
	<result column="acc_pro" property="acc_pro" jdbcType="VARCHAR"/>
	<result column="acc_pay" property="acc_pay" jdbcType="VARCHAR"/>
	<result column="acc_edu" property="acc_edu" jdbcType="VARCHAR"/>
	<result column="acc_idno" property="acc_idno" jdbcType="VARCHAR"/>
	<result column="acc_tel" property="acc_tel" jdbcType="VARCHAR"/>
	<result column="acc_qq" property="acc_qq" jdbcType="VARCHAR"/>
	<result column="acc_mail" property="acc_mail" jdbcType="VARCHAR"/>
	<result column="acc_hob" property="acc_hob" jdbcType="VARCHAR"/>
	<result column="acc_ava" property="acc_ava" jdbcType="VARCHAR"/>
	<result column="acc_addr" property="acc_addr" jdbcType="VARCHAR"/>
	<result column="acc_marr" property="acc_marr" jdbcType="VARCHAR"/>
	<result column="acc_page" property="acc_page" jdbcType="VARCHAR"/>
	<result column="acc_chi" property="acc_chi" jdbcType="INTEGER"/>
	<result column="acc_sta" property="acc_sta" jdbcType="INTEGER"/>
	<association property="type" javaType="com.chinasoft.wangpo.entity.Type">
		<id property="t_id" column="t_id"/>
		<result property="t_type" column="t_type"/>
		<result property="t_money" column="t_money"/>
	</association>
	</resultMap>
	<select id="addFriends" parameterType="Account" resultMap="accountResults">
		SELECT * FROM account where acc_lname like '%${acc_lname}%'
	</select>

	<!-- 通过多条件分页查询，返回列表数据 -->
	<select id="selectPageListUseDyc" parameterType="page"
			resultMap="accountResults">
		select * from account a ,types t
		<where>
			a.acc_type = t.t_id
			<if test="not(paramEntity.acc_rname==null or  paramEntity.acc_rname=='')">
				and acc_rname like #{paramEntity.acc_rname}
			</if>
			<if test="not(paramEntity.acc_tel==null or  paramEntity.acc_tel=='')">
				and acc_tel like #{paramEntity.acc_tel}
			</if>
		</where>
		limit #{start},#{rows}
	</select>
	<!-- 通过多条件分页查询，返回总记录数 -->
	<select id="selectPageCountUseDyc" parameterType="page" resultType="integer">
		select count(0) from account a ,types t
		<where>
			a.acc_type = t.t_id
			<if test="not(paramEntity.acc_rname==null or  paramEntity.acc_rname=='')">
				and acc_rname like #{paramEntity.acc_rname}
			</if>
			<if test="not(paramEntity.acc_tel==null or  paramEntity.acc_tel=='')">
				and acc_tel like #{paramEntity.acc_tel}
			</if>
		</where>
	</select>

	<!-- 根据主键（数组）批量删除记录 -->
	<delete id="deleteList" >
		delete from account where acc_id in
		<foreach collection="array" item="deptId" open="(" close=")" separator=",">
			#{deptId}
		</foreach>
	</delete>

	<!--审核 修改用户信息 -->
	<update id="checkByPK" parameterType="account">
		update account	set
		acc_sta=#{acc_sta},acc_type=#{type.t_id}
		where
		acc_id=#{acc_id}
	</update>

<select id="select" parameterType="account" resultMap="accountResults">
		SELECT * FROM account where acc_lname=#{acc_lname}
	</select>
	<update id="updateByPK" parameterType="account">
		update account set acc_lname=#{acc_lname},
				acc_rname=#{acc_rname},acc_gender=#{acc_gender}, 
				acc_age=#{acc_age},acc_pro=#{acc_pro},
				acc_pay=#{acc_pay},acc_edu=#{acc_edu},
				acc_idno=#{acc_idno},acc_tel=#{acc_tel},
				acc_qq=#{acc_qq},acc_mail=#{acc_mail},
				acc_hob=#{acc_hob},acc_addr=#{acc_addr},
				acc_marr=#{acc_marr},acc_chi=#{acc_chi}
				 where acc_id=#{acc_id}
	</update>
	<!-- 审核后插入用户表 -->
	<insert id="insert" parameterType="account">
		insert into account(acc_lname,acc_pwd,acc_age,acc_idno,acc_tel) 
		values(#{acc_lname},#{acc_pwd},#{acc_age},#{acc_idno},#{acc_tel})
	</insert>

</mapper>