<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasoft.wangpo.dao.RegisterDao">

	<select id="checkName" resultType="int" parameterType="com.chinasoft.wangpo.entity.Register">
		select count(*) from account where acc_lname=#{rname}
	</select>
	<select id="checkIdcard" resultType="int" parameterType="com.chinasoft.wangpo.entity.Register">
		select count(*) from account where acc_idno=#{ridno}
	</select>
</mapper>